<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    {% load bootstrap %}

<form method="get">
    {{filter.form|bootstrap}}
    <button type="submit" class="btn btn-primary">Search</button>
</form>
        <ul id="list" style="list-style: none;">
        {% for instance in filter.qs %}
            
        <a href="http://localhost:8000/specific_room/{{instance.id}}/"> <li class="room"> Sala: {{instance.name}} </li></a>
            
            {% endfor %}
         
    </ul>

</body>
</html>